/* LandingPage.css */
.landing-page {
   
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .landing-page h1 {
    font-size: 3rem;
    color: #28b131;
    margin-bottom: 1rem;
    transform-origin: center;
    animation: rotateScaleIn 1.5s ease-in-out;
  }
  
  .landing-page p {
    font-size: 1.5rem;
    color: #45a826;
    animation: rotateScaleIn 1.5s ease-in-out;
  }
  
  @keyframes rotateScaleIn {
    0% {
      transform: rotate(-30deg) scale(0);
      opacity: 0;
    }
    50% {
      transform: rotate(10deg) scale(1.1);
      opacity: 1;
    }
    100% {
      transform: rotate(0) scale(1);
      opacity: 1;
    }
  }
  